@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #0d0d0d;
  font-family: "Lato", sans-serif;
  color: white;
}
.card1,
.card2,
.card3 {
  background: #1a1a1a;
  border: 2px solid #d3810f;
}
.btn-primary {
  background: #d3810f;
  color: #0d0d0d;
}
.btn-primary:hover {
  background: #d3810f;
}
.toggle-btn {
  background: #2c2c2c;
  color: #d3810f;
}
.toggle-btn:hover {
  background: #3d3d3d;
}
.mobile-menu {
  transition: transform 0.3s ease-in-out;
}
